@use "../../index"

.navbar
  padding: 20px
  justify-content: space-between
  display: flex

  .logo
    display: flex
    font-size: index.$font-size

    *
      margin: auto 0

    .logoImg
      margin: auto 5px
      width: index.$font-size * 1.5
      height: index.$font-size * 1.5

  a
    margin-right: 5vw
    text-decoration: none
